In [1]:
import numpy as np

In [3]:
# data types

# ints vs. floats

c = 7
d = 7.0

print(c, d)

7 7.0

In [4]:
type(c)

int

In [5]:
type(d)

float

In [6]:
for i in range(c):
    print(i)

0
1
2
3
4
5
6

In [7]:
for i in range(d):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [8]:
firstName = 'Jinjia'
lastName = 'Liu'

firstName + lastName

'JinjiaLiu'

In [9]:
%whos

Variable    Type      Data/Info
-------------------------------
c           int       7
d           float     7.0
firstName   str       Jinjia
i           int       6
lastName    str       Liu
np          module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>

In [10]:
s1 = '4'
s2 = '4.7'
n1 = 5
n2 = 5.8

In [11]:
int(s1)

4

In [12]:
float(s2)

4.7

In [14]:
print(str(n1))
print(str(n2))

5
5.8

In [15]:
# lists
# numpy arrays

aList = [0, 1, 2, 3, 4, 5]
aList

[0, 1, 2, 3, 4, 5]

In [16]:
type(aList)

list

In [17]:
listList = [3, ['3', '4', '5'], 5.5, [4, 5, 6]]

In [24]:
for i, elem in enumerate(listList):
    t = str(type(elem))[8:-2]
    print(f"List element {i} is {elem} and is of type {t}.")

List element 0 is 3 and is of type int.
List element 1 is ['3', '4', '5'] and is of type list.
List element 2 is 5.5 and is of type float.
List element 3 is [4, 5, 6] and is of type list.

In [19]:
type(3)

int